# Create a dataframe mapping cities to their geocode

In [30]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

In [ ]:
from os import getcwd, path
data_path = path.join(path.split(getcwd())[0], '00_data')
# to join a file with a path : path.join(data_path, 'name.csv')
data_path

In [116]:
# Initialize the dataframe
df = pd.read_csv(path.join(data_path,'cities.csv'))
df = df.replace({pd.np.nan: None})

In [117]:
# Initialize APIs
g = Nominatim(user_agent="Distance", timeout=100)

In [112]:
# Collecting stuff
for i in range(df.shape[0]):
    if df.iloc[i,1] is None:
        try:
            geocode = g.geocode(df.iloc[i,0])
            df.iloc[i,1] = geocode[1]
            df.iloc[i,2] = geocode[1][0]
            df.iloc[i,3] = geocode[1][1]
        except:
            pass

In [106]:
# df.iloc[6847]

In [103]:
df.shape

(6838, 4)

In [114]:
df

               cities                            geocode      lat      lon
0      Des Moines, IA   (41.5910641, -93.60371490000001)  41.5911 -93.6037
1        Thessaloniki           (40.6403167, 22.9352716)  40.6403  22.9353
2          Washington  (38.894893200000006, -77.0365529)  38.8949 -77.0366
3              Samana          (19.2648113, -69.4930017)  19.2648  -69.493
4     North Eleuthera   (25.3776694, -76.78426554397748)  25.3777 -76.7843
...               ...                                ...      ...      ...
6833             HBE            (30.9174766, 29.6956462)  30.9175  29.6956
6834           Malina            (50.7716358, 29.245701)  50.7716  29.2457
6835        Katowice     (50.2137321, 19.00588775660632)  50.2137  19.0059
6836        Helsinki            (60.1674098, 24.9425769)  60.1674  24.9426
6837              Lga   (37.13258125, -8.45505094811731)  37.1326 -8.45505

[6838 rows x 4 columns]

In [118]:
df.to_csv('cities.csv',index=None)